<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Bahmni</author>
	<description>${project.parent.description}</description>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.bahmni.module.bahmnicore</require_module>
		<require_module>org.openmrs.module.fhir2</require_module>
	</require_modules>

	<privilege>
		<name>Get Medication Administrations</name>
		<description>Able to get Medication Administrations</description>
	</privilege>
	<privilege>
		<name>Edit Medication Administration</name>
		<description>Able to edit Medication Administration</description>
	</privilege>
	<privilege>
		<name>Delete Medication Administration</name>
		<description>Able to delete Medication Administration</description>
	</privilege>

	<activator>org.openmrs.module.fhir2.apiext.MedicationAdministrationActivator</activator>
</module>

